<!DOCTYPE html>
<html ng-app="jtdscs">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>jtdscs v0.3</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="public/components/html5-boilerplate/dist/css/normalize.css">
    <link rel="stylesheet" href="public/components/html5-boilerplate/dist/css/main.css">
    <link rel="stylesheet" href="app.css">
    <script src="public/components/html5-boilerplate/dist/js/vendor/modernizr-2.8.3.min.js"></script>
    <!--easyui-->
    <link rel="stylesheet" href="public/components/jeasyui/themes/default/easyui.css">
    <link rel="stylesheet" href="public/components/jeasyui/themes/icon.css">
    <link rel="stylesheet" href="public/components/jeasyui/themes/color.css">

    <script src="public/components/jquery/dist/jquery.min.js"></script>
    <script src="public/components/jeasyui/jquery.easyui.min.js"></script>
</head>
<body>

<div class="easyui-layout" fit="true">
    <div data-options="region:'north'" style="height:80px" ng-controller="HomeCtrl as ctrl">
        <div class="easyui-panel" style="padding:5px; line-height: 30px;">
            <span style="font-size: 16px; font-weight: bold;">宾利俱乐部管理平台</span>
            <div style="font-size: 16px;float: right;">
                <span ng-click="ctrl.login()">{{ctrl.username}}</span>
                <span ng-show="ctrl.username !='未登录'" ng-click="ctrl.logout()" class="easyui-linkbutton">退出</span>
            </div>
        </div>

        <div style="background:#ffffff;padding:5px;">
            <a href="#" class="easyui-linkbutton" data-options="plain:true">首页</a>
            <a href="#" class="easyui-menubutton" menu="#mm1" style="color: #000;">最新资讯</a>
            <a href="#" class="easyui-menubutton" menu="#mm2" style="color: #000;">预订服务</a>
            <a href="#" class="easyui-menubutton" menu="#mm3" style="color: #000;">会员中心</a>
            <a href="#" class="easyui-menubutton" menu="#mm4" style="color: #000;">设置</a>
        </div>
        <div id="mm1">
            <div><a href="#/basicdata/shipcompany">俱乐部简介</a></div>
            <div>俱乐部动态</div>
            <div>会员活动回顾</div>
        </div>
        <div id="mm2">
            <div>酒店预订</div>
            <div>游艇预订</div>
            <div>私人活动预订</div>
        </div>
        <div id="mm3">
            <div>上门洗车</div>
            <div>上门打蜡</div>
            <div>预约保养</div>
            <div>市内救援</div>
            <div>服务秘书</div>
        </div>
        <div id="mm4">
            <div>用户管理</div>
        </div>
    </div>
    <div data-options="region:'center',iconCls:'icon-ok'" fit="true">
        <div ng-view/>
    </div>

</div>


<script src="public/components/angular/angular.js"></script>
<script src="public/components/angular-route/angular-route.js"></script>
<script src="app.js"></script>


<!--controller-->
<script src="controller/homectrl.js"></script>
<script src="controller/basicdata/shipcompanyctrl.js"></script>


<!--route-->
<script src="route/basicdata.js"></script>
</body>
</html>
