<div ng-controller="ClubDynamicEditCtrl">

    <div style="text-align: center;padding-top: 100px;">

        <div>
            <label style="padding-right: 10px;">动态标题:</label>
            <input class="easyui-textbox" type="text" value ="{{clubDynamic.title}}"  ng-model="clubDynamic.title" style="width:300px;height:20px"/>
        </div>

        <div style="padding-top: 10px;"></div>
        <div>
            <label style="padding-right: 10px;">动态内容:</label>
            <input class="easyui-textbox" data-options="multiline:true" value="{{clubDynamic.context}}" ng-model="clubDynamic.context" style="width:300px;height:100px">
        </div>
        <div style="padding-top: 10px;"></div>

        <div style="text-align:center;padding:5px">
            <button type="button" ng-click="updateClubDynamic()" class="btn">保存</button>
        </div>
    </div>
</div>
