<div ng-controller="ClubDynamicCtrl">

        <div  style="text-align: center;padding-top: 100px;" title="俱乐部动态列表" style="width:500px;height:150px;padding:10px;background:#fafafa;">
            <a href="#/basicdata/clubdynamicForm" >添加俱乐部动态</a>
            <div style="padding-bottom: 20px"></div>
            <div ng-if="clubDynamicList.length == 0">没有数据哦</div>
            <div ng-if="clubDynamicList.length !=0">
                <table st-table="clubDynamicList"
                       border="1" align="center">
                    <thead>
                    <caption>俱乐部动态列表</caption>
                    <tr>
                        <th width="10%">动态标题</th>
                        <th width="10%">更新时间</th>
                        <th width="10%">更新人</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="clubDynamic in clubDynamicList">
                        <td><a class="remove-underline" href="#/basicdata/clubdynamicEdit/{{clubDynamic.id}}">{{clubDynamic.title}}</a></td>
                        <td>{{clubDynamic.updateTime | date:'yyyy-MM-dd'}}</td>
                        <td>{{clubDynamic.handleuser}}</td>
                    </tr>
                    </tbody>
                </table>
            </div>

        </div>
</div>
