<div ng-controller="ClubActivityCtrl">

        <div  style="text-align: center;padding-top: 100px;" title="俱乐部动态列表" style="width:500px;height:150px;padding:10px;background:#fafafa;">
            <a href="#/basicdata/clubActivityForm" >添加用户活动</a>
            <div style="padding-bottom: 20px"></div>
            <div ng-if="clubActivityList.length == 0">没有数据哦</div>
            <div ng-if="clubActivityList.length !=0">
                <table st-table="clubActivityList"
                       border="1" align="center">
                    <thead>
                    <tr>
                        <th width="10%">活动标题</th>
                        <th width="10%">更新时间</th>
                        <th width="10%">更新人</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="clubActivity in clubActivityList">
                        <td><a class="remove-underline" href="#/basicdata/clubActivityEdit/{{clubActivity.id}}">{{clubActivity.title}}</a></td>
                        <td>{{clubActivity.updateTime | date:'yyyy-MM-dd'}}</td>
                        <td>{{clubActivity.handleuser}}</td>
                    </tr>
                    </tbody>
                </table>
            </div>

        </div>
</div>
