<div ng-controller="ShipCompanyCtrl">

    <div style="text-align: center;padding-top: 100px;">
        <input hidden="true" ng-model="clubSummary.id"/>
        <div>
            <label >简介内容:</label>
            <input class="easyui-textbox" data-options="multiline:true" value="{{clubSummary.context}}" ng-model="clubSummary.context" style="width:300px;height:100px">
            <button type="button" ng-click="updateSummary()" class="btn btn-primary btn-sm">保存</button>
        </div>
    </div>
</div>
