
<div class="easyui-panel" style="width:400px;">
    <div style="padding:10px 60px 20px 60px">
        <table cellpadding="5">
            <tr>
                <td>用户名:</td>
                <td><input class="easyui-textbox" type="text"   ng-model="user.name"/></td>
            </tr>
            <tr>
                <td>密码:</td>
                <td><input class="easyui-textbox" type="password"  ng-model="user.password"></td>
            </tr>
        </table>
        <div style="text-align:center;padding:5px">
            <a class="easyui-linkbutton" ng-click="loginMethod(user)">登入</a>
        </div>
    </div>
</div>