<div ng-controller="MaintenanceCtrl">

        <div  style="text-align: center;padding-top: 100px;" title="预约保养服务预订列表" style="width:500px;height:150px;padding:10px;background:#fafafa;">
            <div style="padding-bottom: 20px"></div>
            <div ng-if="maintenanceList.length == 0">没有数据哦</div>
            <div ng-if="maintenanceList.length !=0">
                <table st-table="washCarList"
                       border="1" align="center">
                    <caption>预约保养服务预订列表</caption>
                    <thead>
                    <tr>
                        <th width="10%">微信号</th>
                        <th width="10%">微信名称</th>
                        <th width="10%">预订时间</th>
                        <th width="10%">创建时间</th>
                        <th width="10%">是否处理</th>
                        <th width="10%">洗车地点</th>
                        <th width="10%">处理人</th>
                        <th width="10%">操作</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="maintenance in maintenanceList">

                        <td>{{maintenance.wechatid}}</td>
                        <td>{{maintenance.wechatname}}</td>
                        <td>{{maintenance.destinetime | date:'yyyy-MM-dd'}}</td>
                        <td>{{maintenance.updateTime | date:'yyyy-MM-dd'}}</td>
                        <td ng-if="maintenance.isHandle">是</td>
                        <td ng-if="!maintenance.isHandle">否</td>
                        <td>{{maintenance.address}}</td>
                        <td>{{maintenance.handleuser}}</td>
                        <td ng-if="maintenance.isHandle">已处理完成</td>
                        <td ng-if="!maintenance.isHandle"><button ng-click="handle(maintenance.wechatid)">处理</button></td>
                    </tr>
                    </tbody>
                </table>
            </div>

        </div>
</div>
