
<div ng-controller="MemberEditCtrl">

    <div style="text-align: center;padding-top: 50px;">

        <div>
            <label style="padding-right: 10px;">是否VIP:</label>
            <!--<input class="easyui-textbox" type="text" value ="{{member.title}}"  ng-model="clubActivity.title" style="width:300px;height:20px"/>-->
            <label ng-repeat="radioObj in radioArray" class="radio-label">
                <input type="radio" ng-model="member.isVip"
                       ng-value="radioObj.code">
                <span class="lbl"></span> {{radioObj.name}}
            </label>

        </div>
        <div style="padding-top: 10px;"></div>


        <div>
            <label style="padding-right: 10px;">VIP开始时间:</label>
            <input value="{{member.startTime | date:'yyyy-MM-dd' }}" ng-model="member.startTime"   style="width:300px;height:20px">
        </div>
        <div style="padding-top: 10px;"></div>

        <div>
            <label style="padding-right: 10px;">VIP结束时间:</label>
            <input value="{{member.endTime | date:'yyyy-MM-dd' }}" ng-model="member.endTime"   style="width:300px;height:20px">
            <!--<input class="easyui-datebox" data-options="sharedCalendar:'#cc'" ng-model="member.endTime">-->
        </div>
        <div style="padding-top: 10px;"></div>

        <div>
            <label style="padding-right: 10px;">免费洗车次数:</label>
            <input  ng-model="member.washcarnum" style="width:300px;height:20px">
        </div>
        <div style="padding-top: 10px;"></div>

        <div>
            <label style="padding-right: 10px;">免费打蜡次数:</label>
            <input ng-model="member.waxingnum" style="width:300px;height:20px">
        </div>
        <div style="padding-top: 10px;"></div>

        <div>
            <label style="padding-right: 10px;">免费保养次数:</label>
            <input  ng-model="member.maintenancenum" style="width:300px;height:20px">
        </div>
        <div style="padding-top: 10px;"></div>

        <div>
            <label style="padding-right: 10px;">免费救援次数:</label>
            <input ng-model="member.indoorrenum" style="width:300px;height:20px">
        </div>

        <div style="padding-top: 10px;"></div>


        <div style="text-align:center;padding:5px">
            <button type="button" ng-click="updateMember()" class="btn">保存</button>
        </div>
    </div>
</div>
