<div ng-controller="MemberManagerCtrl">

        <div  style="text-align: center;padding-top: 100px;" title="会员列表" style="width:500px;height:150px;padding:10px;background:#fafafa;">
            <div style="padding-bottom: 20px"></div>
            <div ng-if="memberList.length == 0">没有数据哦</div>
            <div ng-if="memberList.length !=0">
                <table st-table="waxingList"
                       border="1" align="center">
                    <caption>会员列表</caption>
                    <thead>
                    <tr>
                        <th width="10%">微信号</th>
                        <th width="10%">微信名称</th>
                        <th width="10%">是否VIP</th>
                        <th width="10%">VIP开始时间</th>
                        <th width="10%">VIP结束时间</th>
                        <th width="10%">免费洗车次数</th>
                        <th width="10%">免费打蜡次数</th>
                        <th width="10%">免费保养次数</th>
                        <th width="10%">免费市内救援次数</th>
                        <th width="10%">操作</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="member in memberList">

                        <td>{{member.wechatid}}</td>
                        <td>{{member.wechatname}}</td>
                        <td ng-if="member.isVip">是</td>
                        <td ng-if="!member.isVip">否</td>
                        <td>{{member.startTime | date:'yyyy-MM-dd'}}</td>
                        <td>{{member.endTime | date:'yyyy-MM-dd'}}</td>

                        <td>{{member.washcarnum}}</td>
                        <td>{{member.waxingnum}}</td>
                        <td>{{member.maintenancenum}}</td>
                        <td>{{member.indoorrenum}}</td>
                        <td><a class="remove-underline" href="#/membercenter/memberEdit/{{member.id}}">编辑</a></td>

                    </tr>

                    </tbody>
                </table>
            </div>

        </div>
</div>
