<div ng-controller="RescueCtrl">

        <div  style="text-align: center;padding-top: 100px;" title="市内救援服务预订列表" style="width:500px;height:150px;padding:10px;background:#fafafa;">
            <div style="padding-bottom: 20px"></div>
            <div ng-if="rescueList.length == 0">没有数据哦</div>
            <div ng-if="rescueList.length !=0">
                <table st-table="rescueList"
                       border="1" align="center">
                    <caption>洗车服务预订列表</caption>
                    <thead>
                    <tr>
                        <th width="10%">微信号</th>
                        <th width="10%">微信名称</th>
                        <th width="10%">预订时间</th>
                        <th width="10%">创建时间</th>
                        <th width="10%">是否处理</th>
                        <th width="10%">洗车地点</th>
                        <th width="10%">处理人</th>
                        <th width="10%">操作</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="rescue in rescueList">

                        <td>{{rescue.wechatid}}</td>
                        <td>{{rescue.wechatname}}</td>
                        <td>{{rescue.destinetime | date:'yyyy-MM-dd'}}</td>
                        <td>{{rescue.updateTime | date:'yyyy-MM-dd'}}</td>
                        <td ng-if="rescue.isHandle">是</td>
                        <td ng-if="!rescue.isHandle">否</td>
                        <td>{{rescue.address}}</td>
                        <td>{{rescue.handleuser}}</td>
                        <td ng-if="rescue.isHandle">已处理完成</td>
                        <td ng-if="!rescue.isHandle"><button ng-click="handle(rescue.wechatid)">处理</button></td>
                    </tr>
                    </tbody>
                </table>
            </div>

        </div>
</div>
