<div ng-controller="WashCarCtrl">

        <div  style="text-align: center;padding-top: 100px;" title="洗车服务预订列表" style="width:500px;height:150px;padding:10px;background:#fafafa;">
            <div style="padding-bottom: 20px"></div>
            <div ng-if="washCarList.length == 0">没有数据哦</div>
            <div ng-if="washCarList.length !=0">
                <table st-table="washCarList"
                       border="1" align="center">
                    <caption>洗车服务预订列表</caption>
                    <thead>
                    <tr>
                        <th width="10%">微信号</th>
                        <th width="10%">微信名称</th>
                        <th width="10%">预订时间</th>
                        <th width="10%">创建时间</th>
                        <th width="10%">是否处理</th>
                        <th width="10%">洗车地点</th>
                        <th width="10%">处理人</th>
                        <th width="10%">操作</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="washCar in washCarList">

                        <td>{{washCar.wechatid}}</td>
                        <td>{{washCar.wechatname}}</td>
                        <td>{{washCar.destinetime | date:'yyyy-MM-dd'}}</td>
                        <td>{{washCar.updateTime | date:'yyyy-MM-dd'}}</td>
                        <td ng-if="washCar.isHandle">是</td>
                        <td ng-if="!washCar.isHandle">否</td>
                        <td>{{washCar.address}}</td>
                        <td>{{washCar.handleuser}}</td>
                        <td ng-if="washCar.isHandle">已处理完成</td>
                        <td ng-if="!washCar.isHandle"><button ng-click="handle(washCar.wechatid)">处理</button></td>
                    </tr>
                    </tbody>
                </table>
            </div>

        </div>
</div>
